# Exportar a excel

In [3]:
import pandas as pd

In [5]:
url = 'http://apmonitor.com/che263/uploads/Main/tclab.txt'
x = pd.read_csv(url)

In [7]:
x

     Time (sec)   Heater 1   Heater 2  Temperature 1  Temperature 2
0      0.000000  70.204573   0.000000          21.09          19.71
1      3.002566  70.204573   0.000000          21.06          19.74
2      6.051028  70.204573   0.000000          21.00          19.74
3      9.053199  70.204573   0.000000          21.16          19.74
4     12.052579  70.204573   0.000000          21.19          19.74
5     15.067486  70.204573   0.000000          21.58          19.74
6     18.069340  70.204573   0.000000          21.87          19.74
7     21.069981  70.204573   0.000000          22.35          19.74
8     24.071864  70.204573   0.000000          22.80          19.74
9     27.071097  70.204573   0.000000          23.35          19.83
10    30.071501  70.204573   0.000000          23.86          19.74
11    33.089006  70.204573   0.000000          24.51          19.77
12    36.090947  70.204573   0.000000          25.06          19.64
13    39.092747  70.204573   0.000000          25.70          19.87
14    42.094631  70.204573   0.000000          26.12          19.87
15    45.097268  70.204573   0.000000          26.83          19.90
16    48.099142  70.204573   0.000000          27.34          19.96
17    51.099033  70.204573   0.000000          27.89          20.00
18    54.101989  70.204573   0.000000          28.50          20.03
19    57.101338  70.204573   0.000000          29.05          20.06
20    60.101649  96.827185   0.000000          29.60          20.22
21    63.103515  96.827185   0.000000          30.24          20.00
22    66.105389  96.827185   0.000000          30.89          20.12
23    69.107261  96.827185   0.000000          31.44          20.35
24    72.109148  96.827185   0.000000          31.98          20.25
25    75.111088  96.827185   0.000000          32.76          20.32
26    78.112888  96.827185   0.000000          33.34          20.42
27    81.114763  96.827185   0.000000          34.11          20.51
28    84.116634  96.827185   0.000000          34.85          20.67
29    87.116502  96.827185   0.000000          35.53          20.71
..          ...        ...        ...            ...            ...
171  513.535289   1.456279   0.000000          52.19          35.01
172  516.537194   1.456279   0.000000          51.77          34.85
173  519.539055   1.456279   0.000000          51.48          34.53
174  522.539282   1.456279   0.000000          51.13          34.50
175  525.539504   1.456279   0.000000          50.64          34.40
176  528.541380   1.456279   0.000000          50.22          34.37
177  531.542958   1.456279   0.000000          49.90          34.30
178  534.545119   1.456279   0.000000          49.29          34.14
179  537.547005   1.456279   0.000000          48.90          34.01
180  540.548872  71.736706   0.000000          48.48          33.92
181  543.550755  71.736706   0.000000          48.03          33.76
182  546.552623  71.736706   0.000000          47.74          33.63
183  549.554512  71.736706   0.000000          47.49          33.56
184  552.554223  71.736706   0.000000          47.29          33.34
185  555.554477  71.736706   0.000000          47.32          33.37
186  558.556357  71.736706   0.000000          47.29          33.14
187  561.557541  71.736706   0.000000          47.32          33.08
188  564.559423  71.736706   0.000000          47.39          32.95
189  567.561287  71.736706   0.000000          47.58          32.73
190  570.563163  71.736706   0.000000          47.81          32.76
191  573.565037  71.736706   0.000000          47.97          32.69
192  576.567974  71.736706   0.000000          48.07          32.53
193  579.570928  71.736706   0.000000          48.36          32.44
194  582.568521  71.736706   0.000000          48.55          32.44
195  585.568219  71.736706   0.000000          48.65          32.37
196  588.571032  71.736706   0.000000          48.97          32.21
197  591.569023  71.736706   0.000000          49.23          32.15
198  594.571204  71.736706   0.000000          49.42          32.02
199  597.571125  71.736706   0.000000          49.68          31.98
200  600.572713  85.100034  54.919994          49.93          31.95

[201 rows x 5 columns]

In [9]:
print(x)

     Time (sec)   Heater 1   Heater 2  Temperature 1  Temperature 2
0      0.000000  70.204573   0.000000          21.09          19.71
1      3.002566  70.204573   0.000000          21.06          19.74
2      6.051028  70.204573   0.000000          21.00          19.74
3      9.053199  70.204573   0.000000          21.16          19.74
4     12.052579  70.204573   0.000000          21.19          19.74
5     15.067486  70.204573   0.000000          21.58          19.74
6     18.069340  70.204573   0.000000          21.87          19.74
7     21.069981  70.204573   0.000000          22.35          19.74
8     24.071864  70.204573   0.000000          22.80          19.74
9     27.071097  70.204573   0.000000          23.35          19.83
10    30.071501  70.204573   0.000000          23.86          19.74
11    33.089006  70.204573   0.000000          24.51          19.77
12    36.090947  70.204573   0.000000          25.06          19.64
13    39.092747  70.204573   0.000000          25.70          19.87
14    42.094631  70.204573   0.000000          26.12          19.87
15    45.097268  70.204573   0.000000          26.83          19.90
16    48.099142  70.204573   0.000000          27.34          19.96
17    51.099033  70.204573   0.000000          27.89          20.00
18    54.101989  70.204573   0.000000          28.50          20.03
19    57.101338  70.204573   0.000000          29.05          20.06
20    60.101649  96.827185   0.000000          29.60          20.22
21    63.103515  96.827185   0.000000          30.24          20.00
22    66.105389  96.827185   0.000000          30.89          20.12
23    69.107261  96.827185   0.000000          31.44          20.35
24    72.109148  96.827185   0.000000          31.98          20.25
25    75.111088  96.827185   0.000000          32.76          20.32
26    78.112888  96.827185   0.000000          33.34          20.42
27    81.114763  96.827185   0.000000          34.11          20.51
28    84.116634  96.827185   0.000000          34.85          20.67
29    87.116502  96.827185   0.000000          35.53          20.71
..          ...        ...        ...            ...            ...
171  513.535289   1.456279   0.000000          52.19          35.01
172  516.537194   1.456279   0.000000          51.77          34.85
173  519.539055   1.456279   0.000000          51.48          34.53
174  522.539282   1.456279   0.000000          51.13          34.50
175  525.539504   1.456279   0.000000          50.64          34.40
176  528.541380   1.456279   0.000000          50.22          34.37
177  531.542958   1.456279   0.000000          49.90          34.30
178  534.545119   1.456279   0.000000          49.29          34.14
179  537.547005   1.456279   0.000000          48.90          34.01
180  540.548872  71.736706   0.000000          48.48          33.92
181  543.550755  71.736706   0.000000          48.03          33.76
182  546.552623  71.736706   0.000000          47.74          33.63
183  549.554512  71.736706   0.000000          47.49          33.56
184  552.554223  71.736706   0.000000          47.29          33.34
185  555.554477  71.736706   0.000000          47.32          33.37
186  558.556357  71.736706   0.000000          47.29          33.14
187  561.557541  71.736706   0.000000          47.32          33.08
188  564.559423  71.736706   0.000000          47.39          32.95
189  567.561287  71.736706   0.000000          47.58          32.73
190  570.563163  71.736706   0.000000          47.81          32.76
191  573.565037  71.736706   0.000000          47.97          32.69
192  576.567974  71.736706   0.000000          48.07          32.53
193  579.570928  71.736706   0.000000          48.36          32.44
194  582.568521  71.736706   0.000000          48.55          32.44
195  585.568219  71.736706   0.000000          48.65          32.37
196  588.571032  71.736706   0.000000          48.97          32.21
197  591.569023  71.736706   0.000000          49.23          32.15
198  594.571204  71.736706   0.000000          49.42          32.02
199  597.571125  71.736706   0.000000          49.68          31.98
200  600.572713  85.100034  54.919994          49.93          31.95

[201 rows x 5 columns]

In [10]:
print(x.head())
print(x.tail())

   Time (sec)   Heater 1  Heater 2  Temperature 1  Temperature 2
0    0.000000  70.204573       0.0          21.09          19.71
1    3.002566  70.204573       0.0          21.06          19.74
2    6.051028  70.204573       0.0          21.00          19.74
3    9.053199  70.204573       0.0          21.16          19.74
4   12.052579  70.204573       0.0          21.19          19.74
     Time (sec)   Heater 1   Heater 2  Temperature 1  Temperature 2
196  588.571032  71.736706   0.000000          48.97          32.21
197  591.569023  71.736706   0.000000          49.23          32.15
198  594.571204  71.736706   0.000000          49.42          32.02
199  597.571125  71.736706   0.000000          49.68          31.98
200  600.572713  85.100034  54.919994          49.93          31.95

In [11]:
print(x['Temperature 1'])

0      21.09
1      21.06
2      21.00
3      21.16
4      21.19
5      21.58
6      21.87
7      22.35
8      22.80
9      23.35
10     23.86
11     24.51
12     25.06
13     25.70
14     26.12
15     26.83
16     27.34
17     27.89
18     28.50
19     29.05
20     29.60
21     30.24
22     30.89
23     31.44
24     31.98
25     32.76
26     33.34
27     34.11
28     34.85
29     35.53
       ...
171    52.19
172    51.77
173    51.48
174    51.13
175    50.64
176    50.22
177    49.90
178    49.29
179    48.90
180    48.48
181    48.03
182    47.74
183    47.49
184    47.29
185    47.32
186    47.29
187    47.32
188    47.39
189    47.58
190    47.81
191    47.97
192    48.07
193    48.36
194    48.55
195    48.65
196    48.97
197    49.23
198    49.42
199    49.68
200    49.93
Name: Temperature 1, Length: 201, dtype: float64

In [12]:
print(x['Temperature 1'][0:5])

0    21.09
1    21.06
2    21.00
3    21.16
4    21.19
Name: Temperature 1, dtype: float64

In [14]:
print(x['Temperature 1'].head())

0    21.09
1    21.06
2    21.00
3    21.16
4    21.19
Name: Temperature 1, dtype: float64

In [15]:
s = x.describe()

In [17]:
s

       Time (sec)    Heater 1    Heater 2  Temperature 1  Temperature 2
count  201.000000  201.000000  201.000000     201.000000     201.000000
mean   300.309241   59.785477   27.056456      45.492637      30.445224
std    174.681315   36.716888   31.313092       8.618061       6.704408
min      0.000000    0.912421    0.000000      21.000000      19.640000
25%    150.143891   29.646147    0.000000      45.750000      22.770000
50%    300.224662   71.736706   14.628027      48.580000      32.530000
75%    450.506598   96.130497   52.622061      50.710000      36.430000
max    600.572713   96.827185   76.807626      53.960000      38.690000

In [18]:
print(x.describe())

       Time (sec)    Heater 1    Heater 2  Temperature 1  Temperature 2
count  201.000000  201.000000  201.000000     201.000000     201.000000
mean   300.309241   59.785477   27.056456      45.492637      30.445224
std    174.681315   36.716888   31.313092       8.618061       6.704408
min      0.000000    0.912421    0.000000      21.000000      19.640000
25%    150.143891   29.646147    0.000000      45.750000      22.770000
50%    300.224662   71.736706   14.628027      48.580000      32.530000
75%    450.506598   96.130497   52.622061      50.710000      36.430000
max    600.572713   96.827185   76.807626      53.960000      38.690000

In [20]:
# exporto a excel
s.to_excel('prueba expo a excel.xlsx')